// COLOR

$color-primary: #55c57a;
$color-primary--tint-1: #7ed56f;
$color-primary--shade-1: #28b485;

$color-secondary-tint: #ffb900;
$color-secondary-shade: #ff7730;

$color-tertiary-tint: #2998ff;
$color-tertiary-shade: #5643fa;

$color-grey-dark: #777;
$color-grey-dark-1: #999;
$color-grey-dark-2: #333;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$gutter-vertical: 6rem;
$gutter-horizantal: 8rem;
